html {
	--e-global-color-primary: #6ec1e4;
	--e-global-color-secondary: #54595f;
	--e-global-color-text: #7a7a7a;
	--e-global-color-link-nav: #333;
	--e-global-color-accent: #61ce70;
	--e-global-color-6d11e469: #4054b2;
	--e-global-color-51475b6: #23a455;
	--e-global-color-8BC34A: #8bc34a;
	--e-global-color-38afa795: #000;
	--e-global-color-17cbfb7b: #fff;
	font-family: "Open Sans", sans-serif;
	height: 300vh;
}
